<div id="post-sidebar" class="post-sidebar">
    <p>
        <%- partial("_partials/post_tags.ejs") %>
    </p>

    <p>
        <%- partial("_partials/post_categories.ejs") %>
    </p>

    <p>
        <h3>Blog links</h3>
        <div id="post-sidebar--post-headers" class="post-sidebar--post-headers">
            <!-- Javascript injects post headers into here for quick navigation-->
        </div>
    </p>

    <p>
        <h3>Jump to</h3>
        <a href="javascript:jumpTo('share');">Share</a>
        <br>
        <a href="javascript:jumpTo('comments');">Comments</a>
        <br>
        <a href="javascript:jumpTo('footer');">Post meta</a>
    </p>
</div>  