<hr class="post-divider">
<h1>Meta</h1>
<p>
    Posted
    <br>
    <code><%= page.date %></code>
</p>

<p>
    Last updated
    <br>
    <code><%= page.updated %></code>
</p>

<p>
    Permalink
    <br>
    <a href="<%= page.permalink %>"><code><%= page.permalink %></code></a>
</p>