<% if (page.categories && page.categories.length) { %> 
    <h3>Categories</h3>
    <div class="post-meta--categories">
        <%- list_tags(page.categories, {
            show_count: false,
            class: "post-meta--category",
            style: "none",
            seperator: ","
        }) %>
    </div>
<% } %>