/*
*   nebula - styles.scss
*   Primary stylesheet
*/

/* 
*   Variables *
*/  

/* Colors */
$page--bg-color: #22333B; /* #222831 7ebdb4 */
$page--fg-color: white; 

$text-selection--bg-color: #75DDDD;

$nav--bg-color: black;
$nav--fg-color: white;

$accent-color: #09BC8A;
$link--fg-hover-color: white;

$code--bg-color: black;

/* Fonts */
$primary-font: "Vollkorn", sans-serif;
$alt-font: "Arial", serif;
$mono-font: monospace;

/* 
*   Root level styles 
*/
body, html {
  font-family: $primary-font;
  background-color: $page--bg-color;
  color: $page--fg-color;
}

/*
*  Text selection
*/
::selection {
  background-color: $text-selection--bg-color
}

/*
*     Index 
*/
.post-list > ul {
  list-style-type: none;
}

.article--meta {
  font-family: $primary-font;
}

/* 
* Navbar
*/

/* Visible navbar */
.navbar {
  padding: 5px;
  color: $nav--fg-color;
  background-color: $nav--bg-color;

  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  opacity: .7;
  z-index: 1;
  

}

.navbar--title {
  font-family: $alt-font;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: $nav--fg-color;
}

/* Navbar links */
.navbar--content {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: $nav--bg-color;
  color: $nav--fg-color;
  overflow-x: hidden;
  transition: 0.5s;
  opacity: .88;
  backdrop-filter: blur(4px);
}

/* Open button */
.navbar--open {
  color: $accent-color;
  text-decoration: none;
  padding: 5px;
}

.navbar--open:hover {
  color: $nav--bg-color;
  background-color: $accent-color;
}

.navbar--link {
  font-size: 150%;
  display: block;
  padding: 50px;
  color: $accent-color;
  transition: .3s;
}

.navbar--link:hover {
  color: $nav--bg-color;
  background-color: $accent-color;
}

/*
* Page content
*/
.page-center {
  padding-top: 50px;
  margin: 20px;
  /* If user is not using mobile device, show the full sidebar, meaning we have to adjust the margin */
  @media only screen and (min-width: 768px) {
    margin-right: 200px; /* Same as widebar width + sidebar horizontal padding */
  }
  line-height: 1.4;
}

/* Inline code snippets */
code {
  font-family: $mono-font;
  overflow-x: auto;  
  background-color: $code--bg-color;
  padding: 3px;
  border-radius: 3px;
}

/*
*   Blog posts
*/

.post-top--title {
  font-family: $alt-font;
  color: $accent-color;
}

.post-top--subtitle {
  font-family: $primary-font;
}

.header {
  font-family: $alt-font;
}

.post-content > h1, h2, h3, h4, h5, h6 { 
  font-family: $alt-font;
}

.page-center a {
  border-radius: 4px;
  padding: 2px;
  color: $accent-color;
}

.page-center a:hover {
  color: $link--fg-hover-color;
  background: $accent-color;
}

.post-divider {
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Sidebar */
.post-sidebar { /* Container */
  
  /* Desktop sidebar */
  @media only screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: .9;
    color: $nav--fg-color;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 50px;
    width: 180px;
    height: 100%;
    padding-right: 20px;
  }

}

.post-sidebar--link {
  font-size: 150%;
  display: block;
  padding: 50px;
  color: $accent-color;
  transition: .3s;
}

.post-sidebar--link:hover {
  color: $nav--fg-color;
  background-color: $accent-color;
}

/* Meta (tags & categories) */
.post-meta__mobile {
  /* Do not show on desktop since desktop users have sidebar */
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
.post-meta--tag {
  
}

.post-meta--category {

}

/* 
*   Code blocks (bear in mind they are formatted with highlighting.js markup) 
*/

/* Allow horizontal scrollbars (usually on mobile) when needed. .highlight class grabs the whole snippet */
.highlight {
  overflow-x: auto;
  margin-left: 0 !important; /* let more of the code on the page */
  padding-bottom: 10px; /* adding the 'copy code' button in site.js gives these a scrollbar, so pad the bottom so no ugly scrollbars show */
  border-radius: 5px;
  background-color: $code--bg-color;
  font-family: $mono-font !important;
}

/* If code snippet has a title and or link provided in markdown, style them (they are contained in a <figcaption> */
.highlight > figcaption {
  margin-left: 10px;
}

/*Title */
.highlight > figcaption > span {
  font-family: $mono-font;
  font-style: italic;
}

.highlight > figcaption > span::after {
  content: ":  "
}

/* Url */
.highlight > figcaption > a {
  font-family: $alt-font;
}

.highlight > figcaption > a::before {
  content: "(";
  color: $page--fg-color;
}

.highlight > figcaption > a::after {
  content: ")";
  color: $page--fg-color;
}

/* Numbers */
.gutter {
  font-weight: bold;
  padding-right: 5px;
}

/* Code */
.highlight {
  font-family: $mono-font;
  font-size: 90%;
  display: block !important;
}

.copy-code-btn {
  font-weight: bold;
}

/* 
* Images in blog posts and pages should popup into a 'dialog' when clicked 
*/
.page-center img {
  border-radius: 4px;
  transition: .2s;
}

.page-center img:hover {
  opacity: .7;
}


/*
*   Blockquotes
*/
blockquote > p {
  font-style: italic;
}

blockquote > footer > cite::before {
  content: " - (";
  color: $page--fg-color;
}

blockquote > footer > cite::after {
  content: ")";
  color: $page--fg-color;
}

/*
*   Utility classes
*/
.primary-font {
  font-family: $primary-font;
}

.alt-font {
  font-family: $alt-font;
}